on:
  pull_request:
    branches:
      - master
name: "Build"
jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '17.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.7.3'
      - run: flutter pub get
      #- run: flutter test
      - run: flutter build apk --debug --split-per-abi